extends _layouts/base

block content
	.container
		nav.navbar.navbar-light.bg-light.justify-content-between
			span.navbar-brand.mb-0.h1 Магазин
			.cart-icon
				img.img-reponsive(src="./images/cart.svg")
				.cart-icon__counter(data-cart-count) 2
	
	.container
		.row.mt-5
			.col-xs-12.col-sm-6.col-lg-4.mb-3
				.card
					img.card-img-top(src='https://via.placeholder.com/348x174', alt='Товар')
					.card-body
						h5.card-title Товар 1
						p.card-text
							| Замечательное описание товара
						a.btn.btn-primary(href='#', data-add-to-cart) Добавить в корзину

			.col-xs-12.col-sm-6.col-lg-4.mb-3
				.card
					img.card-img-top(src='https://via.placeholder.com/348x174', alt='Товар')
					.card-body
						h5.card-title Товар 2
						p.card-text
							| Замечательное описание товара
						a.btn.btn-primary(href='#', data-add-to-cart) Добавить в корзину
			
			.col-xs-12.col-sm-6.col-lg-4.mb-3
				.card
					img.card-img-top(src='https://via.placeholder.com/348x174', alt='Товар')
					.card-body
						h5.card-title Товар 3
						p.card-text
							| Замечательное описание товара
						a.btn.btn-primary(href='#', data-add-to-cart) Добавить в корзину
			
			.col-xs-12.col-sm-6.col-lg-4.mb-3
				.card
					img.card-img-top(src='https://via.placeholder.com/348x174', alt='Товар')
					.card-body
						h5.card-title Товар 4
						p.card-text
							| Замечательное описание товара
						a.btn.btn-primary(href='#', data-add-to-cart) Добавить в корзину

			.col-xs-12.col-sm-6.col-lg-4.mb-3
				.card
					img.card-img-top(src='https://via.placeholder.com/348x174', alt='Товар')
					.card-body
						h5.card-title Товар 5
						p.card-text
							| Замечательное описание товара
						a.btn.btn-primary(href='#', data-add-to-cart) Добавить в корзину
			
			.col-xs-12.col-sm-6.col-lg-4.mb-3
				.card
					img.card-img-top(src='https://via.placeholder.com/348x174', alt='Товар')
					.card-body
						h5.card-title Товар 6
						p.card-text
							| Замечательное описание товара
						a.btn.btn-primary(href='#', data-add-to-cart) Добавить в корзину

